#footer {
    background-color: #000;
    border-top:3px solid var(--red-color);
   padding-top: 30px;
   padding-bottom: 30px;
   margin-top: 50px;
}

#footer a {
    color:#fff
}

#footer h6 {
    color: #fff
}