<div class="row row-cols-1 row-cols-md-3 g-4 ">

    <div class="col" *ngFor="let noticia of listadoNoticias">
        <div class="card">
            <div>

            </div>
            <a [href]="noticia.url" target="_blanck">

                <img [src]='noticia.image_url == null ? "assets/noImage.png": noticia.image_url' class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{noticia.title}}</h5>
                    <p class="card-text">{{noticia.description}}</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div *ngIf="listadoNoticias.length==0">
    <h5>No hay noticias para mostrar</h5>
</div>