<app-navbar [valorDolar]="valorDolar"></app-navbar>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8">
      <h1 class="mb-5">Todas las noticias</h1>
      <app-formulario (parametrosSeleccionados)='buscarNoticias($event)'></app-formulario>
      <app-spinner *ngIf="loading"></app-spinner>

      <app-listado-noticias [listadoNoticias]="listaDeNoticias"></app-listado-noticias>
    </div>
    <div class="col-md-4">

      <app-ultimas-noticias [ultimasNoticias]="ultimasNoticias" [title]="titleLastArgentina"></app-ultimas-noticias>
      <app-ultimas-noticias [ultimasNoticias]="ultimasNoticiasInternacional"
        [title]="titleLastInternational"></app-ultimas-noticias>
    </div>
  </div>
</div>
<app-footer></app-footer>