<form (ngSubmit)=" buscarNoticia()" class="mb-5" id="searchForm">

    <div class="row">
        <div class="form-group col-5">

            <select class="form-select form-select-sm" name="pais" [(ngModel)]="paisSeleccioando">
                <option *ngFor="let pais of paises" [value]="pais.value">{{pais.nombre}}
                </option>
            </select>
        </div>
        <div class="form-group col-5">

            <select class="form-select form-select-sm" name="categoria" [(ngModel)]="categoriaSeleccionada">
                <option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.nombre}}
                </option>

            </select>
        </div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
        </div>
    </div>
</form>